<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    button.btn.btn-block{
        border-style:solid;
        border-width:2px;
        border-color:rgb(0, 0, 0);
        font-size: 24px;
        
    }
    h1 {
                font-family: "Microsoft JhengHei";
                font-size: 32px;
            }
    #start {
        font-family: "Microsoft JhengHei";
        font-size: 28px;
    }
    #all {
        width:100%;
        height:auto;
        background-color:#fffaf3;
        font-family: "Microsoft JhengHei";
    }
</style>
    <title>TeaDiagnose</title>
</head>
<body>
    <div id="all">
        <h1> 病蟲害辨識網頁 - 首頁  </h1>
        <p>
        <img src="media/portal2.png" style="max-width:100%;"><br/>
        </p>
        <div id="start">
            按下"Start"開始
        </div>
        <div style="width:400px;font-size:35px">
            <button type="button" class="btn btn-block"
                    onclick="self.location.href='uploadImg/'">Start</button>
        </div>
    </div>
</body>
</html>